.navbar {
    position: absolute;
    top: 0;
    height: 4.5em;
}
.parallax--bg {
    background-image: url(images/astro.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    height: 600px;
    filter: contrast(125%);
}
.parallax--bg2 {
    background-image: url(images/coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    filter: contrast(125%);
}
footer {
    background-color: #292b2c!important;
    margin-top: 20em;
    height: 150px;
}
.table {
    margin: 3em auto;
}
#particles-js {
    background: gray;
    height: 150px;
}